<a href="https://colab.research.google.com/github/EmadSoheili/PySpark-UofT-NLP/blob/main/Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 54 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 71.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=537c8b7c19514d777e57a5d710c51034140fde6b9fbcdb8440d241514c7a7b4d
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataFrameBasics").getOrCreate()

In [ ]:
df = spark.createDataFrame([
    (0, 'Text1'),
    (1, 'Text2'),
    (2, 'Text3')
    
], ['id', 'words'])

df.show()

+---+-----+
| id|words|
+---+-----+
|  0|Text1|
|  1|Text2|
|  2|Text3|
+---+-----+

In [ ]:
# Import Data
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-online/v2/module_17/food.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("food.csv"), sep=',', header=True)
df.show()

+-------+-----+
|   food|price|
+-------+-----+
|  pizza|    0|
|  sushi|   12|
|chinese|   10|
+-------+-----+

In [ ]:
# Print schema
df.printSchema()

root
 |-- food: string (nullable = true)
 |-- price: string (nullable = true)

In [ ]:
# Column names
df.columns

['food', 'price']

In [ ]:
# Describe data
df.describe()

DataFrame[summary: string, food: string, price: string]

In [ ]:
# Create Schema
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

schema = [StructField('food', StringType(), True), StructField('price', IntegerType(), True),]

final = StructType(fields= schema)
final

StructType([StructField('food', StringType(), True), StructField('price', IntegerType(), True)])

In [ ]:
# Read data with new Schema
df = spark.read.csv(SparkFiles.get('food.csv'), schema=final, sep=',', header=True)
df.printSchema()

root
 |-- food: string (nullable = true)
 |-- price: integer (nullable = true)

In [ ]:
df['price']

Column<'price'>

In [ ]:
type(df['price'])

pyspark.sql.column.Column

In [ ]:
df.select('price')

DataFrame[price: int]

In [ ]:
type(df.select('price'))

pyspark.sql.dataframe.DataFrame

In [ ]:
df.select('price').show()

+-----+
|price|
+-----+
|    0|
|   12|
|   10|
+-----+

In [ ]:
# Add new column
df.withColumn('newprice', df['price']*2).show()

+-------+-----+--------+
|   food|price|newprice|
+-------+-----+--------+
|  pizza|    0|       0|
|  sushi|   12|      24|
|chinese|   10|      20|
+-------+-----+--------+

In [ ]:
# Update column
df.withColumnRenamed('price', 'newprice').show()

+-------+--------+
|   food|newprice|
+-------+--------+
|  pizza|       0|
|  sushi|      12|
|chinese|      10|
+-------+--------+